[submodule "LostSheepCore/Vendor/glfw"]
	path = LostSheepCore/Vendor/glfw
	url = https://github.com/VedantS-32/glfw.git
[submodule "LostSheepCore/Vendor/cglm"]
	path = LostSheepCore/Vendor/cglm
	url = https://github.com/recp/cglm.git
